FORMAT: 1A
HOST: https://cs-api.bgchtest.info

# NACHo

A simple API offered by ConnectedHomes Customer Systems for NACHo


##Allowed HTTPs requests

- `GET` Retrieves a resource or list of resources
- `POST` Creates a resource


##Typical Server Responses

- `200 OK` The request was successful.
- `403 Forbidden` The Request was leagal , but Missing parameters
- `404 Not Found` Resource was not Found.
- `415 Unsupported Media Type` The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method.


# Group NACHo Customer Systems API For Staging DB

## /nacho/order/{id}

Get the order Details based on the order id

+ Parameters
    + id (required, string, `OD123`) ... Alphanumeric `id` of the Order

### GET
The following table lists some possible outcomes that may occur as a result of this call:

| Http Status Code |              Description             | Scenario | Resolution |
|:----------------:|:------------------------------------:|:--------:|:----------:|
|              200 | Order returned                        |          |            |
|              403 | The Request was legal | Processing error | Refer to error message in response |
|              404 | Order not found
|              415 | Unsupported Media Type| Processing error | Refer to error message in response |


+ Request 

   
    + Headers
       
            Authorization:AWS4-HMAC-SHA256 (AWS Signature)
            X-api-Key : ********
            X-Amz-Date :20160719T101907Z
            Host :cs-api.bgchtest.info
    
+ Response 200 (application/json)


    + Body
            
            
            {
                  "first_name": "testfirstname",
                  "last_name": null,
                  "address1": null,
                  "address2": null,
                  "city": null,
                  "state": null,
                  "postal_code": null,
                  "country": null,
                  "email": null,
                  "phone": null,
                  "is_commercial": null,
                  "is_pobox": null,
                  "order_number": "order1",
                  "order_date": null,
                  "sku": null,
                  "quantity": null,
                  "commerce_name": null,
                  "external_id": null,
                  "warehouse_id": null,
                  "service_level_code": null,
                  "company": null,
                  "tracking": null,
                  "carrier": null,
                  "url": null,
                  "summary": null,
                  "summary_date": null,
                  "created_date": null,
                  "processed_date": null,
                  "deliverd_date": null,
                  "submitted_date": null,
                  "completed_date": null,
                  "expected_date": null,
                  "locale": null,
                  "language_preference": null,
                  "status": null,
                  "mobile": null,
                  "title": null
            }
            
            
    
+ Response 403 (application/json)
    Returned if there was an exception while processing the request.
    + Body
    
            { "message": "Forbidden"}

+ Response 404 (application/json)
    Returned if there are no order for the externalid
    + Body
    
            {
              "status": 404,
              "errors": {
                "description": "contract not found"
                }
            }
+ Response 415 (application/json)
    Returned if there was an exception while processing the request.
    + Body
            
            {
                "message": "Unsupported Media Type"
            }
            
            
    
## /nacho/order/

Post the Orders into Staging DB

### POST
The following table lists some possible outcomes that may occur as a result of this call:

| Http Status Code |              Description             | Scenario | Resolution |
|:----------------:|:------------------------------------:|:--------:|:----------:|
|              200 | Order Created                   |          |            |
|              400 | Bad Request | Processing error | Refer to error message in response |
|              403 | The Request was legal | Processing error | Refer to error message in response |
|              415 | Unsupported Media Type| Processing error | Refer to error message in response |

+ Request (application/json)

    + Headers
       
            Authorization:AWS4-HMAC-SHA256 (AWS Signature)
            X-api-Key : ********
            X-Amz-Date :20160719T101907Z
            Host :cs-api.bgchtest.info
           
        
    + Body            
        
            {
                "orders":[
                     {
                        "first_name":"testfirstname",
                        "last_name":"testlastname",
                        "address1":"22",
                        "address2":"chatham court",
                        "city":"slough",
                        "state":"berk",
                        "postal_code":"sl11qj",
                        "country":"uk",
                        "email":"test@gmail.com",
                        "phone":"124345",
                        "is_commercial":true,
                        "is_pobox":false,
                        "order_number":"235323",
                        "order_date":"12-10-1986",
                        "sku":"testsku",
                        "quantity":13,
                        "commerce_name":"testcommerce",
                        "external_id":"externl1",
                        "warehouse_id":"testwarehouse",
                        "service_level_code":"testcode",
                        "company":"testcompany"
                    }
                    ]
            }
    
+ Response 200 (application/json)
    
     + Body

             {
                    "orders": [
                    {
                      "first_name": "TestfirstName1",
                      "last_name": "TestLastName1",
                      "address1": "22",
                      "address2": "london bridge",
                      "city": "london",
                      "state": "berk",
                      "country": "UK",
                      "postal_code": "23423",
                      "email": "abc@gmail.com",
                      "phone": "123123",
                      "is_commercial": true,
                      "is_pobox": false,
                      "sw_order_number": "ORD123",
                      "order_date": "12-10-2016",
                      "sku": "T23424",
                      "quantity": 12,
                      "commerce_name": "testcommercename1",
                      "external_id": "ext123",
                      "warehouse_id": "W123",
                      "service_level_code": 12344,
                      "company": "testcompany1"
                    },
                    {
                      "first_name": "TestfirstName2",
                      "last_name": "TestLastName2",
                      "address1": "23",
                      "address2": "bridge",
                      "city": "london",
                      "state": "berkshire",
                      "country": "UK",
                      "postal_code": "324234",
                      "email": "abc1@gmail.com",
                      "phone": "43434",
                      "is_commercial": false,
                      "is_pobox": true,
                      "sw_order_number": "ORD321",
                      "order_date": "10-10-2016",
                      "sku": "T234",
                      "quantity": 10,
                      "commerce_name": "testcommercename2",
                      "external_id": "ext321",
                      "warehouse_id": "W321",
                      "service_level_code": 23435,
                      "company": "testcompany2"
                    }
                ]
            }
            

+ Response 400 (application/json)
    Returned if there was an expection while processing the request body
    + Body
            
            {
                "message": "Exception",
                "errorMessage": "invalid input syntax for integer: \"E12344\""
               }     

+ Response 403 (application/json)
    Returned if there was an exception while processing the request.
    + Body
    
            { "message": "Forbidden"}


+ Response 415 (application/json)
    Returned if there was an exception while processing the request.
    + Body
            
            {
                "message": "Unsupported Media Type"
            }